@tailwind base;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

.p-inputnumber-input {
  width: 100px;
}
